<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTransaction.id">
    <h4>Transaccion</h4>
    <div>
      <label><strong>Titulo:</strong></label> {{ currentTransaction.title }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/transactions/{{ currentTransaction.id }}"
    >
      Editar
    </a>
  </div>

  <div *ngIf="!currentTransaction">
    <br />
    <p>Click en transaccion...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTransaction.id" class="edit-form">
    <h4>Transaccion</h4>
    <form>
      <div class="form-group">
        <label for="title">titulo</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTransaction.title"
          name="title"
        />
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteTransaction()">
      Eliminar
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTransaction()"
    >
      Editar
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTransaction.id">
    <br />
    <p>No se puede acceder a la transaccion..</p>
  </div>
</ng-template>
