<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTutorial.id">
    <h4>Transaccion</h4>
    <div>
      <label><strong>Titulo:</strong></label> {{ currentTutorial.title }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/tutorials/{{ currentTutorial.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>Click en transaccion...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Transaccion</h4>
    <form>
      <div class="form-group">
        <label for="title">titulo</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>No se puede acceder a la transaccion..</p>
  </div>
</ng-template>
